// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Mixtile Limited
 *
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3588.dtsi"

/ {
	model = "Mixtile Blade 3 LINUX DTS";
	compatible = "mixtile,blade3", "rockchip,rk3588";

	// TODO
	aliases {
		mmc0 = &sdhci;
		mmc1 = &sdmmc;
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	// Note: The power tree at the top of the Blade 3 schematic
	// does not accurately represent what the schematic shows.
	// This is based off the actual schematic diagrams in the
	// v1.2.0 Blade 3 schematic.

	// External power source
	// VIN_12_20V rail
	vcc12v_dcin: vcc12v-dcin-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <20000000>;
	};

	// U25 buck regulator
	vcc3v3_minipcie: vcc3v3-minipcie-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_minipcie";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc12v_dcin>;
		enable-active-high;
		gpio = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc3v3_minipcie_en>;
	};

	// U15 buck regulator
	// Only turns on when 5V5 < VIN_12_20V < 26V0
	vcc4v0_sys: vcc4v0-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc4v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <4000000>;
		regulator-max-microvolt = <4000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	// TODO link vcc4v0_sys to PMU as it's used for
	// basically every input

	// U6 buck regulator
	vcc1v1_nldo_s3: vcc1v1-nldo-s3-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v1_nldo_s3";
		vin-supply = <&vcc4v0_sys>;
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
	};

	// U12 LDO regulator
	// Used for U13 PCIe clock multiplexer
	vcc3v3_pcie30: vcc3v3-pcie30-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie30";
		vin-supply = <&vcc4v0_sys>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <5000>;
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpio = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc3v3_pcie30_en>;
	};

	// U21 buck regulator
	// Used for U20 PCIe 2.0 switch
	vcc1v2: vcc1v2-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v2";
		vin-supply = <&vcc4v0_sys>;
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
	};

	// U24 buck regulator
	// Used for U22, U23 ethernet controllers
	vcc1v0_ethernet: vcc1v0-ethernet-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v0_ethernet";
		vin-supply = <&vcc4v0_sys>;
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1000000>;
	};

	// U14 buck regulator
	// Used for:
	// * J2 U.2 connector
	// * J3B HDMI TX port power and level translation
	// * U17 USB type 3 power delivery controller when in host mode, for USB type C port 0
	// * U19 USB type 3 power delivery controller when in host mode, for USB type C port 1
	// * J7 MIPI CSI ribbon cable port
	// * J10 30 pin header 5V0 pin
	vcc5v0_sys: vcc5v0-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	// U16 power switch
	// Used for J4 USB type C port 0 power
	vcc5v0_typec0: vcc5v0-typec0-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_typec0";
		vin-supply = <&vcc5v0_sys>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	// U18 power switch
	// Used for J4 USB type C port 1 power
	vcc5v0_typec1: vcc5v0-typec1-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_typec1";
		vin-supply = <&vcc5v0_sys>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	// U26 power switch
	// Used for J12 fan header power
	vcc5v0_fan: vcc5v0-fan-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_fan";
		vin-supply = <&vcc5v0_sys>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-boot-on;
		gpio = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_fan_en>;
	};
};

&pcie3x4 {
	pinctrl-names = "default";
	pinctrl-0 = <&vcc3v3_pcie30_en>;
	reset-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie30>;
	status = "okay";
};

&pcie30phy {
	status = "okay";
};

// Used for U.2 SATA
&combphy0_ps {
	status = "okay";
};

// Used for ethernet controller PCIe switch
&combphy1_ps {
	status = "okay";
};

// Used for Mini PCIe slot
&combphy2_psu {
	status = "okay";
};

// Used for RK860  power regulator, and USB type C port 1 power distribution controller
&i2c1 {
	status = "okay";

	clock-frequency = <400000>;
	i2c-scl-rising-time-ns = <160>;
	i2c-scl-falling-time-ns = <30>;

	usbc1: fusb302@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PC6 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc1_int>;
		vbus-supply = <&vcc5v0_typec1>;
		status = "okay";
	};
};

&pinctrl {
	usb-typec {
		usbc1_int: usbc1-int {
			rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	pcie {
		vcc3v3_pcie30_en: vcc3v3-pcie30-en {
			rockchip,pins = <1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	mini-pcie {
		vcc3v3_minipcie_en: vcc3v3-minipcie-en {
			// Pulled down by R334
			rockchip,pins = <3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	fan {
		vcc5v0_fan_en: vcc5v0-fan-en {
			// Pulled up by R310
			rockchip,pins = <3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
